.head
  .title
    Insectagram
  .user
    .user-name
      taro
    .send
      = link_to "投稿する", "/posts/new", class: "post-link"
.research
  = link_to'投稿一覧へ戻る', root_path
.posts
  - @posts.each do |post|
    .post
      = image_tag post.image
      .post-info
        %p #{post.name} 
        %span #{post.text}

